{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    function loadPage(link, evt) {
        const frame = document.getElementById('frame');
        let buttons = document.getElementsByClassName('navBtn');

        for (i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('btn-dark');
            buttons[i].classList.add('btn-outline-dark')
        }

        evt.target.classList.remove('btn-outline-dark')
        evt.target.classList.add('btn-dark');
        //frame.src = link;
        frame.contentWindow.location.replace(link);
    }
</script>
<!-- <a class="btn btn-primary btn-lg btn-block border-info my-1" href={{ url_for('index') }} style="padding:15% 15%; background-color: #0541B4">
    <span style="font-size:200%; font-weight:bold">HOME</span>
</a> -->

<button style="position: absolute; top: 0; left: 1%; margin: 0%; width: 10%; height: 10%; text-align: center"
    class="btn btn-primary" href="{{ url_for('index') }}">
    HOME
</button>

<p style="position: absolute; top:0; left: 11%; width: 78%; height: 10%; background: green; text-align: center; vertical-align: center">
    s
</p>

<div style="position: absolute; top: 10%; left: 2.5%; width: 95%; height: 85%">
    <div style="position: relative; top: 0; left: 0; width: 100%; height: 10%">
        <div class="row">
            <div class="col">
                <button onclick="loadPage('http://www.news.com.au', event)" class="btn btn-dark navBtn" style="font-size: 220%; width: 100%">News.com</button>
            </div>
        </div>
        <!-- <nav class="navbar navbar-inverse" style="width: 100%; height: 100%; padding: 0">
            <div class="container-fluid" style="width: 100%; height: 100%; padding: 0">
                <ul class="nav navbar-nav" style="width: 100%; height: 100%;">
                    <li></li>
                    <li><button onclick="loadPage('http://www.theguardian.com.au', event)" class="btn btn-outline-dark navBtn" style="font-size: 220%; width: 100%">The Guardian</button></li>
                    <li><button onclick="loadPage('http://www.smh.com.au', event)" class="btn btn-outline-dark navBtn" style="font-size: 220%; width: 100%">SMH</button></li>
                    <li><button onclick="loadPage('http://www.sbs.com.au/news/latest', event)" class="btn btn-outline-dark navBtn" style="font-size: 220%; width: 100%">SBS</button></li>
                    <li><button onclick="loadPage('http://www.abc.com.au', event)" class="btn btn-outline-dark navBtn" style="font-size: 220%; width: 100%">ABC</button></li>
                    <li><button class="btn" style="font-size: 220%">News.com</button></li>
                </ul>
            </div>
        </nav> -->
    </div>
    <iframe id="frame" style="position: relative; top: 10%; left: 0" src="https://www.news.com.au/" width="100%" height="90%"></iframe>
</div>
{% endblock %}
