{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    function loadPage(link, evt) {
        const frame = document.getElementById('frame');
        let buttons = document.getElementsByClassName('navBtn');

        for (i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('btn-dark');
            buttons[i].classList.add('btn-outline-dark')
        }

        evt.target.classList.remove('btn-outline-dark')
        evt.target.classList.add('btn-dark');
        frame.contentWindow.location.replace(link);
    }
</script>
<a class="btn btn-primary btn-lg btn-block border-info my-1" href={{ url_for('index') }} style="background-color: #0541B4; position: absolute; top: 0; left: 2.5%; margin: 0px; width: 10%; height: 10%; z-index: 10">
    <span style="font-size:200%; font-weight:bold">HOME</span>
</a>


<div style="position: absolute; top: 1%; left: 13%; width: 84.5%; height: 9%" class="alert alert-info">
    <p style="position: relative; top:0; left: 0; text-align: center">
        See instructions down the side to enter information<br>If you wish to print the details, scroll down to the bottom and click on “Print” and then the blue print button
    </p>
</div>

<div style="position: absolute; top: 14%; left: 2.5%; width: 22.5%; height: 76%" class="alert alert-info">
    <br>
    <br>
    <br>
    <ul style="margin: 0px; padding:5%">
        <li>Enter your current location here</li>
        <li>Click on leaving now to change it. If you want to be somewhere by a certain time, use "Arriving". If you want to leave at a certain time, use "Leaving"</li>
        <li>Enter the date and time that you wish to arrive/leave on</li>
        <li>Click "Go"</li>
    </ul>
</div>

<div style="position: absolute; top: 11%; left: 27.5%; width: 70%; height: 85%">
    <iframe id="frame" style="position: relative; top: 3%; left: 0; background: white" src="https://widget.transportnsw.info/trip/" width="100%" height="90%" class="rounded"></iframe>
</div>
{% endblock %}
